body {
    background-color: #f8f9fa;
}

.form-container {
    max-width: 800px;
}

.header-img {
    height: 70px;
    width: auto;
}

/* Garante o tamanho da imagem do rodapé */
.header-img-2 {
    height: 180px;
    width: auto;
}